@{
    ViewBag.Title = "Productions";
}
@Assets.Templates()
@Assets.Script("underscore-min.js")
@Assets.Script("backbone-min.js")
@Assets.Script("production-admin.js")
@Template.Scripts()


<script id="listTemplate" type="text/html">
<h2>Productions</h2>
    {{each items}}
    <li>
        <a href="#" data-production-id="${ID}" class="production-link">${Title}</a>
    </li>
    {{/each}}

<hr />
<a href="#" id="new-production">Create</a>
</script>

<script id="productionFormTemplate" type="text/html">

 <form  id ="productionForm" class="vidform">

        @Template.TextBox("Title")
        @Template.TextBox("Author")
        @Template.TextBoxNumber("Price")
        @Template.TextArea("Description")
        @Template.TextBoxDate("ReleasedOn")
        @Template.Submit()

 </form>

</script>
<div class="column span-5 colborder">
    <div id="production-list">
    </div>
</div>
<div class="column span-14 colborder">
    <div id="production-form">
    </div>
</div>
