<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    
    @Assets.jQuery(false)
    @Assets.CSS("screen.css")
    @Assets.CSS("print.css", "print")
    @Assets.CSS("forms.css")
    <!--//@Assets.CSS("Site.css") -->

    @Assets.CSS("plugins/fancy-type/screen.css")
   

    <!--[if lt IE 8]><link rel="stylesheet" href="/public/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
    <div class="container">
        <div class="span-16 prepend-6">
            @Assets.ImageLink(URL.SiteRoot(), "publishedLogo.bmp")
        </div>
        <hr>
         <div class="span-6 last" id="logindisplay">
            @Html.Partial("_LogOnPartial")
        </div>
        <hr class="space">

        @RenderBody()

        <!--footer---->
        <hr>
      
        <p>
            &copy;@DateTime.Now.Year Published, Inc.
            @Snippets.FooterText();
        </p>

        <hr>
      
    </div>
</body>
</html>

